---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-st2-config
  annotations:
    description: Custom StackStorm config which will apply settings on top of default st2.conf
  labels:
    app: st2
    tier: backend
    vendor: stackstorm
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  # TODO: Bundle DB/MQ login secrets in dynamic ENV-based st2.secrets.conf, leave custom user-defined settings for st2.user.conf (?)
  # Docker/K8s-based st2 config file used for templating service names and common overrides on top of original st2.conf.
  # The order of merging: st2.conf < st2.docker.conf < st2.user.conf
  st2.docker.conf: |
    [auth]
    api_url = http://{{ .Release.Name }}-st2api:9101/
    {{- if index .Values "redis" "enabled" }}
    [coordination]
    url = redis://{{ template "redis-nodes" $ }}
    {{- end }}
    {{- if index .Values "rabbitmq" "enabled" }}
    [messaging]
    url = amqp://{{ required "rabbitmq.auth.username is required!" (index .Values "rabbitmq" "auth" "username") }}:{{ required "rabbitmq.auth.password is required!" (index .Values "rabbitmq" "auth" "password") }}@{{ .Release.Name }}-rabbitmq:5672{{ required "rabbitmq.ingress.path is required!" (index .Values "rabbitmq" "ingress" "path") }}
    {{- end }}
    {{- if index .Values "mongodb" "enabled" }}
    [database]
    {{- if index .Values "mongodb" "auth" "enabled" }}
    host = mongodb://{{ template "mongodb-nodes" $ }}/{{ required "mongodb.auth.database is required!" (index .Values "mongodb" "auth" "database") }}?authSource={{ required "mongodb.auth.database is required!" (index .Values "mongodb" "auth" "database") }}&replicaSet={{ index .Values "mongodb" "replicaSetName" }}
    username = {{ required "mongodb.auth.username is required!" (index .Values "mongodb" "auth" "username") }}
    password = {{ required "mongodb.auth.password is required!" (index .Values "mongodb" "auth" "password") }}
    db_name = {{ required "mongodb.auth.database is required!" (index .Values "mongodb" "auth" "database") }}
    {{- else }}
    host = mongodb://{{ template "mongodb-nodes" $ }}/?replicaSet={{ index .Values "mongodb" "replicaSetName" }}
    {{- end }}
    port = {{ index .Values "mongodb" "service" "port" }}
    {{- end }}
    {{- if .Values.st2.datastore_crypto_key }}
    [keyvalue]
    encryption_key_path = /etc/st2/keys/datastore_key.json
    {{- end }}
    {{- if .Values.st2.rbac.enabled }}
    [rbac]
    enable = True
    backend = default 
    {{- end }}

  # User-defined st2 config with custom settings applied on top of everything else.
  # The order of merging: st2.conf < st2.docker.conf < st2.user.conf
  st2.user.conf: |
{{ .Values.st2.config | indent 4 }}
    
